/**
 * Basic css that is used to center some html. 
 * The majority of the styling is done by bootstrap that is linked in via CDN. 
 */
.drop {
	margin-top: 20px;
	padding-bottom: 15px;
	background-color: #34495E;
	box-shadow:rgba(0,0,0,0.80) 0px 1px 3px 0px;
	border-radius: 15px;
	color: #BDC3C7;
}
.centered {
	text-align: center;
}

.buttons {
	margin-top: 30px;
}
body{
    background-color: #BDC3C7;
}

#tweets{
    width: auto;
    margin-top: 30px;
    float: left;
    height: 325px;
    overflow: hidden;
}

#hashtags{
    margin-top: 30px;
    height: 325px;
    overflow: hidden;
}

#tweets > li {
	box-shadow: rgba(0, 0, 0, 0.54) 0px 1px 3px 0px;
	background-color: white;
	list-style: none;
	color: #3498db;
	margin-bottom: 5px;
	padding-right: 10px;
	padding-top: 5px;
	text-align: left;
	padding-left: 10px;
	height: 60px;
	padding-top: 4px;
	overflow: hidden;
}

#hashtags > li {
	box-shadow: rgba(0, 0, 0, 0.54) 0px 1px 3px 0px;
	background-color: #3498db;
	list-style: none;
	color: white;
	margin-bottom: 5px;
	text-align: left;
	padding-left: 10px;
	height: 60px;
	padding-top: 4px;
	overflow: hidden;
}

.dp{
	float: left;
	width: 48px;
	margin-right: 10px;
	height: 48px;
	border-radius: 24px;
}
#legend {
	list-style: none;
}
.legendItem{
	width:15px;
	height:15px;
	background-color: #FFF;
	border: 2px grey solid;
	float: left;
	border-radius: 10px;
}
#en{
	background-color: #E60000;
}
#ja{
	background-color: #E0E4CC;
}
#sp{
	background-color: #69D2E7;
}
#pt{
	background-color: #1FCF00;
}
#other{
	background-color: #FF33FC;
}